.button {
  /* flex: 1 1 auto; */
  border: 1px solid #30363d;
  border-radius: 12px;
  padding: 10px;
  box-sizing: border-box;
  letter-spacing: 10px;
  text-indent: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

/* 悬浮样式 */
.button:hover {
  background-color: #30363d;
  color: white;
  border: 1px solid #30363d;
}
