.title {
  font-size: 32px;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
}

.inputusername {
  font-size: 16px;
  margin-left: 20px;
  width: 300px;
  height: 30px;
  background-color: #0d1117;
  border: 1px solid #363636;
  border-radius: 4px;
}
.inputusername:focus {
  border: 1px solid #6c6c6c;
}
.inputusername:hover {
  border: 1px solid #6c6c6c;
}


.dropdown{
  cursor: pointer;
  margin-left: 10px;
}